$black: #000000 !default;
$white: #ffffff !default;

$color-micim-50: #fbf7fc!default;
$color-micim-100: #f6edfa!default;
$color-micim-200: #eedaf4!default;
$color-micim-300: #e0bdea!default;
$color-micim-400: #cf96dc!default;
$color-micim-500: #b76dc8!default;
$color-micim-600: #9c4dac!default;
$color-micim-700: #823e8d!default;
$color-micim-800: #72377b!default;
$color-micim-900: #5b2f60!default;
$color-micim-950: #370f37!default;
$color-micim-980: #250825!default;

$color-secondary-50: #f4f8ed!default;
$color-secondary-100: #e6efd8!default;
$color-secondary-200: #cee1b5!default;
$color-secondary-300: #aecd89!default;
$color-secondary-400: #90b863!default;
$color-secondary-500: #7ba94a!default;
$color-secondary-600: #587c34!default;
$color-secondary-700: #44602b!default;
$color-secondary-800: #394d27!default;
$color-secondary-900: #324324!default;
$color-secondary-950: #182310!default;

$color-tertiary-50: #f8f8ee!default;
$color-tertiary-100: #edeed3!default;
$color-tertiary-200: #deddaa!default;
$color-tertiary-300: #cbc679!default;
$color-tertiary-400: #bbb052!default;
$color-tertiary-500: #ac9d46!default;
$color-tertiary-600: #94803a!default;
$color-tertiary-700: #776131!default;
$color-tertiary-800: #65502e!default;
$color-tertiary-900: #57442c!default;
$color-tertiary-950: #322516!default;

$primary: $color-micim-800 !default;  
$secondary: $color-secondary-500 !default;
$tertiary: $color-tertiary-400!default;

