@use "./colors";

.footer__container {
    padding: 2rem 1rem;
    text-align: center;
    border-top: 1px solid colors.$color-micim-500;
    background-color: colors.$color-micim-980;

    @media screen and (min-width: 764px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.footer-social {
    justify-self: center;
    margin: 0 auto 1rem;
}
